@charset "utf-8";
/* CSS Document */
body {
  font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
  font-size: 12pt;
}
.container {
  background-color: white !important;
}
.header {
  background: #07459C;
  color: white;
}
.banner {
  background: #145CA6;
  color: white;
  background-image: url("../images/bg.png");
  background-repeat: no-repeat;
  background-position: right;
}
.banner img {
  float: right;
}
.banner h3 {
  padding-top: 10px;
  text-transform: uppercase;
  color: yellow;
  text-shadow: 0 0 3px #ff0;
  font-weight: bold;
  font-size: 300%;
  padding-bottom: 0px;
}
.banner h4 {
  padding-left: 10%;
}
/*==Style cho menu===*/
.menu {
  background-image: linear-gradient(#064398, #07459C, #064398);
}
.menu .nav-link {
  color: white !important;
  margin: -5px auto -5px auto;
}
.menu .dropdown-item {
  color: #060555 !important;
}
.menu .dropdown-header {
  color: darkblue !important;
  font-weight: bold;
  font-size: 100%;
}
.menu a:hover {
  background-color: #d1dde5;
  color: #060555 !important;
  border-radius: 5px;
  font-weight: bold;
}
.footer {
  background: #07459C;
  color: white;
  text-align: center;
  vertical-align: middle !important;
  height: 90px;
  padding-top: 20px;
}